/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
  * This injects Tailwind's component classes and any component classes
  * registered by plugins.
  */
@tailwind components;

/**
  * This injects Tailwind's utility classes and any utility classes registered
  * by plugins.
  */
@tailwind utilities;

/**
  * Use this directive to control where Tailwind injects the hover, focus,
  * responsive, dark mode, and other variants of each class.
  *
  * If omitted, Tailwind will append these classes to the very end of
  * your stylesheet by default.
  */
@tailwind variants;

@layer base {
  h1 {
    @apply font-mono text-2xl lg:text-4xl md:text-3xl;
  }
  h2 {
    @apply font-mono text-primary-300 text-3xl lg:text-6xl md:text-5xl;
  }
  h3 {
    @apply font-mono text-primary-300 text-2xl lg:text-5xl md:text-4xl;
  }
  p {
    @apply text-lg md:text-xl text-primary-400;
  }
}

@layer components {
  .link-btn {
    @apply mt-5 sm:mt-3 py-3 px-8 border-solid border-2 border-secondary-500 rounded text-secondary-500 transition-all hover:text-primary-50 hover:border-primary-50 hover:bg-primary-900 hover:animate-pulse transform hover:scale-95;
  }
  .resume-btn {
    @apply py-3 px-8 rounded-full font-mono text-lg border-2 text-center text-secondary-500 hover:text-primary-50 hover:bg-secondary-500 hover:animate-pulse;
  }
  .hero-container {
    @apply fixed min-h-[calc(85vh)] w-full overflow-hidden opacity-10;
  }
}

@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
}

@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/CalibreRegular.otf');
}

@font-face {
  font-family: 'Calibre';
  font-style: bold;
  font-weight: 600;
  src: local(''), url('/fonts/CalibreBold.otf');
}

@font-face {
  font-family: 'Tabitha';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/Tabitha.ttf');
}
