/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
  * This injects Tailwind's component classes and any component classes
  * registered by plugins.
  */
@tailwind components;

/**
  * This injects Tailwind's utility classes and any utility classes registered
  * by plugins.
  */
@tailwind utilities;

/**
  * Use this directive to control where Tailwind injects the hover, focus,
  * responsive, dark mode, and other variants of each class.
  *
  * If omitted, Tailwind will append these classes to the very end of
  * your stylesheet by default.
  */
@tailwind variants;

@layer base {
  h1 {
    @apply font-mono text-4xl lg:text-4xl md:text-6xl;
  }
  h2 {
    @apply font-mono text-primary-300 text-3xl lg:text-6xl md:text-5xl;
  }
  h3 {
    @apply font-mono text-primary-300 text-2xl lg:text-5xl md:text-4xl;
  }
  h4 {
    @apply font-mono text-primary-300 text-xl lg:text-3xl md:text-3xl;
  }
  h5 {
    @apply font-mono text-primary-300 text-xl lg:text-2xl md:text-2xl;
  }
  p {
    @apply font-sans text-sm text-primary-400;
  }
}

@layer components {
  .link-btn {
    @apply mt-5 sm:mt-3 py-3 px-8 border-solid border-2 border-secondary-500 rounded text-secondary-500 transition-all hover:text-primary-50 hover:border-primary-50 hover:bg-primary-900 hover:animate-pulse transform hover:scale-95;
  }
  .resume-btn {
    @apply py-3 px-8 rounded-full font-mono text-lg border-2 text-center text-secondary-500 hover:text-primary-50 hover:bg-secondary-500 hover:animate-pulse;
  }
  .hero-container {
    @apply fixed min-h-[calc(85vh)] w-full overflow-hidden opacity-25;
  }
}

@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
  .animation-exp {
    animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1);
    @keyframes pulse {
      0%,
      100% {
        opacity: 1;
      }
      50% {
        opacity: 0.5;
      }
    }
  }
  .nav-item {
    position: relative;
    text-decoration: none;
    padding-bottom: 6px;
  }
  .nav-item::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2dd4bf;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  .nav-item:hover::before {
    transform: scaleX(1);
    color: #2dd4bf;
  }
}

@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/CalibreRegular.otf');
}

@font-face {
  font-family: 'Calibre';
  font-style: bold;
  font-weight: 600;
  src: local(''), url('/fonts/CalibreBold.otf');
}

@font-face {
  font-family: 'Tabitha';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/Tabitha.ttf');
}

@font-face {
  font-family: 'Merienda One';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/MeriendaOne-Regular.ttf');
}
